<h1>More details about {{model.title}}</h1>
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Storie {{model.title}}</h3>
  </div>
  <div class="panel-body">
    <p><b>Title: </b> {{model.title}} </p>
    <p><b>Due Date: </b>{{model.dueDate}} </p>
  </div>
</div>
